.center-aligned-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;

    & .divider {
        height: $thick-divider;
        width: 5em;
        background-color: $light-text-color;

        &.primary {
            background-color: $primary;
        }
    }
    & .content {
        max-width: 60%;
    }
}