
.filter-download-image-card{
    .filter{
        width: 30%;
    }
    .gallery-container{
        width: 70%;
        
        .grid {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 90%;
        
            @media all {
                grid-auto-flow: initial;
                grid-template-columns: repeat(auto-fit, minmax(auto, 18em));
                justify-content: space-between;
            }
            @media #{$large-mobile} {
                justify-content: center;
            }
            @media #{$small-mobile} {
                justify-content: center;
            }
            @media #{$extra-small-mobile} {
                justify-content: center;
                
            }
        
            & .grid-figure {
                position: relative;
                display: grid;
                max-width: 18em;
                margin-bottom: 4em;
                & .grid-figure-shadow {
                    position: absolute;
                    top:0px;
                    left:0px;
                    right:0px;
                    
                    height: 15em;
                    background: radial-gradient(circle, rgba(181,181,181,0) 23%, rgba(44,44,44,0.39289219105610995) 80%);
                    border-radius: 1.3em;
                    & .grid-figure-shadow-icon{
                        width: 1.7em;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        margin: 1em 1.7em;
                        cursor: pointer;
                    }
                    & .grid-figure-crown{
                        position: absolute;
                        bottom: 100%;
                        left: 8%;
                        background-color: transparent;
                        display: flex;
                        flex-direction: column-reverse;
                        & svg{
                            height: 1.3em;
                            fill: $primary;
                        }
                    }
                }
                img {
                    width: 100%;
                    height: 15em;
                    border-radius: 1.3em;
                    object-fit: cover;
                }
                & .grid-figure-title{
                    line-height: 1;
                    margin-top: 1em;
                    font-weight: bold;
                }
                & .grid-figure-subtitle{
                    line-height: 1;
                    margin-top: 0.5em;
                }
            }
        }
        & .button-part{
            display: flex;
            justify-content: center;
            font-size: 1.25em;
        }
    }
    @media #{$tablet-device} {
        .filter{
            width: 0%;
        }
        .gallery-container{
            width: 100%;
        }
        .filter-container{
            display: none;
        }
    }
    @media #{$large-mobile} {
        .filter{
            width: 0%;
        }
        .gallery-container{
            width: 100%;
        }
        .filter-container{
            display: none;
        }
    }
    @media #{$small-mobile} {
        .filter{
            width: 0%;
        }
        .gallery-container{
            width: 100%;
        }
        .filter-container{
            display: none;
        }
    }
    @media #{$extra-small-mobile} {
        .filter{
            width: 0%;
        }
        .gallery-container{
            width: 100%;
        }
        .filter-container{
            display: none;
        }
    }

    
    & .filter-container{
        margin-right: 5.5em;
        background-color: $default-background;
        padding: 2em;
        border-radius: 1.7em;
        position: sticky;
        scroll-behavior: smooth;
        top: 10%;
        & .filter-title{
            font-size: 1.5em;
            font-weight: bold;      
        }
        & .filter-type{
            border: 0.5px solid $light-text-color;
            padding: 0.5em 0.7em;
            width: 100%;
            border-radius: 0.675em;
            margin-top: 1.5em;
            outline: none;
        }
        & :focus{
            border: 0.5px solid $primary;
            outline: none;
        }
        & .filter-free-resource{
            margin-left: 0.7em;
            margin-top: 1.5em;
        }
        & .filter-checkbox{
            width: 1.33em;
            height: 1.33em;
            accent-color: #E18F3C;
            margin-right: 0.5em;
        }
        & .filter-sort{
            margin-top: 1.5em;
            & .filter-header{
                border-bottom: 0.5px solid $light-text-color;
                padding-bottom: 0.5em;
            }
            & .filter-sort-options{
                margin-left: 0.7em;
                margin-top: 1em;
                // border: 2px solid red;
                div{
                    // border: 2px solid red;
                    margin-top: 0.6em;
                }
            }
        }

        & .filter-budget{
            & .filter-budget-title{
                margin-top: 2em;
                font-weight: bold;
            }
            & .filter-range-slider{
                position: relative;
                width: 100%;
                top: 0%;
                left: 0%;
                margin-top: 1.75em;
                & input[type="range"]{
                    appearance: none;
                    width: 100%;
                    outline: none;
                    // border: 0.5px solid red;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    bottom: 0;
                    background-color: transparent;
                    pointer-events: none;
                }

                & .slider-track {
                    width: 100%;
                    height: 3px;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    bottom: 0;
                    border-radius: 5px;
                }
                & input[type="range"]::-webkit-slider-runnable-track {
                    -webkit-appearance: none;
                    height: 3px;
                    background-color: $primary;
                    border-radius: 5px;
                }
                & input[type="range"]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    height: 16px;
                    width: 16px;
                    background-color: $primary;
                    cursor: pointer;
                    margin-top: -7px;
                    pointer-events: auto;
                    border-radius: 50%;
                }
            }

            & .filter-range-data{
                margin-top: 3.5em;
                font-size: 0.9em;
                & input{
                    width: 40%;
                    background-color: white;
                    padding: 0.4em 0.75em;
                    border: 0.5;
                    border-radius: 0.7em;
                    color: $primary;
                    border: 0.5px solid $light-text-color;
                }
                & div{
                    color: $light-text-color;
                    margin: auto;
                }
            }
            & .filter-button{
                margin-top: 1.5em;
            }
        }

    }
    & .filter-text{
        font-size: 1em;
        color: $light-text-color;
        line-height: 1;
    }
}