.floating-earth-button {
    position: fixed;
    bottom: 2.9em;
    right: 2.9em;
    z-index: 4;
    cursor: pointer;

    & .button-image {
        height: 4.26em;
        width: 4.26em;
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $default-shadow;

        & video {
            height: 105%;
            width: 105%;
            object-fit: cover;
            animation: tilt 120s linear infinite;
        }

        @keyframes tilt {
            0%,
            100% {
                transform: rotate(23.5deg);
            }
            50% {
                transform: rotate(-23.5deg);
            }
        }
    }
}