.image-over-thin-image {
    font-size: 1em;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    & .bottom-image {
        align-self: flex-start;
        width: 20em;
        height: 40.97em;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        @media #{$large-mobile} {
            width: 62.5%;
            height: 27.5625em;
        }

        & .image-overlay {
            position: absolute;
            height: inherit;
            width: inherit;
            background-color: $color-overlay;
            opacity: 0.75;

            @media #{$large-mobile} {
                width: 100%;
            }
        }
    }

    & .top-image {
        position: absolute;
        width: 22.12em;
        height: 31.54em;
        transform: translateX(calc(22.12em / 1.88));
        border-radius: $image-border-radius;
        z-index: 1;

        @media #{$large-mobile} {
            width: 14.9375em;
            height: 21.1875em;
            right: 2.3125em;
            transform: translateX(0);
        }

        & .image-wrapper {
            height: 100%;
            width: 100%;
            border-radius: $image-border-radius;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
            }
        }
    }

    &.inverse {
        justify-content: flex-end;

        & .bottom-image {
            align-self: flex-end;
        }

        & .top-image {
            transform: translateX(-1 * calc(22.12em / 1.88));
            @media #{$large-mobile} {
                transform: translateX(0);
                left: 2.3125em;
            }
        }
    }
}

.image-over-square-image {
    font-size: 1em;
    width: 84em;
    height: max-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    @media #{$large-mobile} {
        width: 100%;
    }

    & .bottom-image {
        align-self: flex-start;
        width: 29em;
        height: 28em;
        border-radius: $image-border-radius;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        @media #{$large-mobile} {
            width: 14.0625em;
            height: 13.625em;
        }

        & .image-overlay {
            position: absolute;
            height: inherit;
            width: inherit;
            flex-shrink: 0;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & .top-image {
        position: absolute;
        width: 24em;
        height: 17em;
        transform: translateX(-22.5em) translateY(2.5em);
        z-index: 1;
        flex-shrink: 0;

        @media #{$large-mobile} {
            width: 11.5625em;
            height: 8.4375em;
            left: 0;
            transform: translateX(0)
        }

        & .image-wrapper {
            height: 100%;
            width: 100%;
            border-radius: $image-border-radius;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
            }
        }
    }

    &.inverse {
        justify-content: flex-end;

        & .bottom-image {
            align-self: flex-end;
        }

        & .top-image {
            transform: translateX(-1 * calc(22.12em / 1.88));
        }
    }
}
