.image-over-thin-image {
    font-size: 1em;
    width: 34.6em;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    & .bottom-image {
        align-self: flex-start;
        width: 20em;
        height: 40.97em;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        & .image-overlay {
            position: absolute;
            height: inherit;
            width: inherit;
            background-color: $color-overlay;
            opacity: 0.75;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & .top-image {
        position: absolute;
        width: 22.12em;
        height: 31.54em;
        transform: translateX(calc(22.12em / 1.88));
        overflow: hidden;
        z-index: 1;
        outline: 0.6em solid $white;
        border-radius: $image-border-radius;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }

    &.inverse {
        justify-content: flex-end;

        & .bottom-image {
            align-self: flex-end;
        }

        & .top-image {
            transform: translateX(-1 * calc(22.12em / 1.88));
        }
    }
}

.image-over-square-image {
    font-size: 1em;
    width: 84em;
    height: max-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    & .bottom-image {
        align-self: flex-start;
        width: 29em;
        height: 28em;
        border-radius: $image-border-radius;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        & .image-overlay {
            position: absolute;
            height: inherit;
            width: inherit;
            flex-shrink: 0;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & .top-image {
        position: absolute;
        width: 24em;
        height: 17em;
        transform: translateX(-22.5em) translateY(2.5em);
        overflow: hidden;
        z-index: 1;
        border-radius: 0.8em;
        flex-shrink: 0;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }

    &.inverse {
        justify-content: flex-end;

        & .bottom-image {
            align-self: flex-end;
        }

        & .top-image {
            transform: translateX(-1 * calc(22.12em / 1.88));
        }
    }
}