.map-component {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & svg {
        height: 100%;
        width: 100%;
    }

    & .country {
        fill: rgba($color: $light-text-color, $alpha: 0.05);
        stroke: rgba($color: $light-text-color, $alpha: 0.4);
        stroke-width: 0.02em;
        pointer-events: none;

        &.selected {
            fill: $primary  !important;
        }

        &.in-active-continent {
            pointer-events: all;
            fill: rgba($color: $light-text-color, $alpha: 0.2);
            stroke: rgba($color: $light-text-color, $alpha: 0.8);
            stroke-width: 0.033em;
            transition: stroke fill $transition-specific;
            cursor: pointer;

            &:hover {
                fill: $black;
                stroke: $black;
            }
        }
    }


    & #resize-icon {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        height: 1.3em;
        width: 1.3em;

        & svg {
            fill: rgba($color: $light-text-color, $alpha: 0.8);
            transition: $transition-base;
        }

        &:hover {
            & svg {
                fill: $black;
            }
        }
    }

    & .map-tooltip {
        position: absolute;
        display: none;
        z-index: 1;
        margin: auto;
        padding: 0 1em;
        border-radius: $button-border-radius;
        border: $thin-border solid $primary;
        background-color: $white;
        box-shadow: $default-shadow;
        text-align: center;
        & span {
            font-size: 0.8em;
            line-height: 0.8em;
            font-weight: 700;
            color: $primary;
            white-space: nowrap;
        }
    }
}