.map-component {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & svg {
        height: 100%;
        width: 100%;
    }

    & .country {
        fill: rgba($color: $light-text-color, $alpha: 0.05);
        stroke: rgba($color: $light-text-color, $alpha: 0.4);
        stroke-width: 0.02em;
        pointer-events: none;

        &.selected {
            fill: $primary  !important;
        }

        &.in-active-continent {
            pointer-events: all;
            fill: rgba($color: $light-text-color, $alpha: 0.2);
            stroke: rgba($color: $light-text-color, $alpha: 0.8);
            stroke-width: 0.033em;
            cursor: pointer;

            &:hover {
                fill: rgba($color: $light-text-color, $alpha: 0.8);
            }
        }
    }


    & #resize-icon {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        transform: translateY(-47%);
        height: 1em;
        width: 1em;

        & svg {
            fill: rgba($color: $light-text-color, $alpha: 0.8);
            transition: $transition-base;
        }

        &:hover {
            & svg {
                fill: $black;
            }
        }
    }

}