.parallax-image-component {
    height: 100%;
    width: 100%;

    & .background-image-part {
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        & .background-image-holder {
            position: relative;
            height: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .background-image {
                position: absolute;
                z-index: -1;
                display: flex;
                justify-content: center;
                align-items: center;

                & img {
                    width: max-content;
                    height: max-content;
                    object-fit: cover;
                }
            }
        }
    }
}