.search {
    height: $header-button-height;
    font-size: 1em;
    & form {
        width: max-content;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        margin: 0;
        padding: 0;
        & input {
            color: $default-black;
            //overflow: hidden;
            width: 1.2em;
            padding: 0;
            opacity: 0;
            border-radius: $button-border-radius;
            -webkit-box-sizing: border-box;
            /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;
            /* Firefox, other Gecko */
            box-sizing: border-box;
            /* Opera/IE 8+ */
            border: 0;
            transition: $transition-base;
            &::placeholder {
                font-size: 1em;
                font-weight: 300;
                font-style: italic;
            }
        }
        & .search-button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($color: $white, $alpha: 0);
            border: 0;
            outline: 0;
            padding: 0.2em;
            position: absolute;
            & svg {
                height: 1.3em;
                & * {
                    stroke: $default-black;
                }
            }
        }
        &:hover,
        &:focus,
        &:active,
        &:focus-within {
            width: 20em;
            & input {
                width: 100%;
                padding: 0 2em;
                border-radius: $button-border-radius;
                outline: $medium-thin-border solid $default-black;
                margin: 0;
                opacity: 1;
            }
            & .search-button {
                transform: translateX(-18.2em);
            }
        }
    }
}