.sitemap {
    font-size: 1em;
    & .pagegroup {
        & .group-title {
            & .title {
                font-size: 1.2em;
                font-weight: 900;
            }
        }
        & .page {
            & a {
                font-size: 0.8em;
                font-weight: 500;
            }
        }
    }
}