.image-over-image {
    width: 34.6em;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    & .bottom-image { 
        border-radius:1em;
        align-self: flex-start;
        width: 40em;
        height: 30.97em;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        // & .image-overlay {
        //     position: absolute;
        //     height: inherit;
        //     width: inherit;
        //     opacity: 0.75;
        // }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }

    & .top-image {
        position: absolute;
        width: 22.12em;
        height:17.54em;
        transform: translateX(calc(22.12em / 1.88));
        overflow: hidden;
        z-index: 1;
        border-radius: 0.8em;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }

    &.inverse {
        justify-content: flex-end;

        & .bottom-image {
            align-self: flex-end;
        }

        & .top-image {
            transform: translateX(-1 * calc(45.12em / 1.88));
        }
    }
}