/* Gotham Black */

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Black.ttf') format('truetype');
    font-weight: 1200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-UltraItalic.ttf') format('truetype');
    font-weight: 1200;
    font-style: italic;
    font-display: swap;
}


/* Gotham Bold */

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-BoldItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}


/* Gotham Medium */

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Medium.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-MediumItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}


/* Gotham Normal */

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-BookItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}


/* Gotham Lite */

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}


/* Gotham Thin */

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}