@import '../../assets/scss/variabls.scss';
.join-button {
    width: 6em;
    height: 2em;
    background-color: $primary;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9em;
    stroke: none;
    border: 0;
    transition: $transition-base;
    & span {
        color: $white;
        font-size: 1em;
        font-weight: bold;
        transition: $transition-base;
    }
    &:hover {
        outline: 0.1em solid $primary;
        background-color: $white;
        & span {
            color: $primary;
        }
    }
    &:focus {
        outline: 0;
        border-color: inherit;
        box-shadow: none;
        background: $primary;
        &:hover {
            & span {
                color: $white;
            }
        }
    }
}