.business-page-wrapper {

    & .container_3 {
        
    }
    @media #{$extraBig-device} {
        font-size: 1.3em;
    }
    @media #{$laptop-device} {
        font-size: 0.9em;
    }
    @media #{$desktop-device} {
        font-size: 0.7em;
    }
    @media #{$tablet-device} {
        font-size: 0.7em;
    }
}