.megamenu {
    font-size: 1em;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 5;
    background-color: $white;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-200%);
    transition: $transition-base;

    &.open {
        transform: translateY(0%);
    }

    & .megamenu-page {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .site-map-wrapper {
            width: 100%;
            height: 100%;

            & .site-map-container {
                height: inherit;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 4em;

                & .megamenu-media {
                    flex-shrink: 0;
                    height: 100%;
                    overflow: hidden;

                    & video {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    &.out {
                        animation: out-animation 300ms ease-out;

                        @keyframes out-animation {
                            0% {
                                opacity: 1;
                                transform: scaleX(1) scaleY(1);
                            }

                            100% {
                                opacity: 0;
                                transform: scaleX(0) scaleY(0);
                            }
                        }
                    }

                    &.in {
                        animation: in-animation 300ms ease-in;

                        @keyframes in-animation {
                            0% {
                                opacity: 0;
                                transform: scaleX(0) scaleY(0);
                            }

                            50% {
                                opacity: 1;
                                transform: scaleX(1.1) scaleY(1.1);
                            }

                            75% {
                                opacity: 1;
                                transform: scaleX(0.95) scaleY(0.95);
                            }

                            100% {
                                opacity: 1;
                                transform: scaleX(1) scaleY(1);
                            }
                        }
                    }
                }

            }

            & .pagegroup {
                padding: 3em 0em;
            }
        }

        & .megamenu-footer {
            height: max-content;
            padding: 2em 0em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

            & .megamenu-footer-left {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                gap: 1em;

                & .contactus {
                    font-size: 1.3em;
                    font-weight: 1000;
                }

                & .our-social-links-component {
                    gap: 2em
                }
            }

            & .megamenu-footer-right {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-end;
                gap: 1em;
                font-weight: 300;

                & .legals {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2em;
                    text-decoration: underline;
                }
            }
        }
    }



    @media #{$laptop-device} {
        font-size: 0.9em;
    }

    @media #{$desktop-device} {
        font-size: 0.7em;
    }
}