.brands-container {
    background-color: $default-background;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media #{$small-mobile}{
        gap: 1em;
    }
    & svg {
        min-height: 8em;
        min-width: 8em;
        transition: $transition-base;
        opacity: 0.85;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
}

.our-partners-section{
    padding-bottom: 9.6em;
}