.card-over-ribbon-image-container {
    height: max-content;
    width: 100%;
    color: $white;

    & .background-image-part {
        height: 31.24em;
        width: 100%;
        overflow: hidden;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
        & .background-image-holder {
            position: relative;
            height: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & .background-image {
                position: absolute;
                z-index: -1;
                height: max-content;
                width: 100%;
                filter: brightness($default-low-brightness);
                & img {
                    width: 100%;
                    height: max-content;
                    object-fit: cover;
                }
            }
        }
    }
    & .background-image {


    }

    & .ribbon-card-holder {
        height: 0%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;

        & .ribbon-card {
            position: absolute;
            width: max-content;
            height: 100%;
            z-index: 1;
            margin-top: -35em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1em;

            & .title {
                font-size: 1.3em;
                letter-spacing: 0.01em;
                color: $white;
            }

            & .subtitle {
                font-weight: 1000;
                font-size: 4em;
                line-height: 1em;
            }

            & .card-button {
                margin-top: 1em;

                & button {
                    font-size: 1.2em;
                    font-weight: 700;
                    border: 2px solid $white;
                }
            }
        }
    }
}