.category-of-people-tabs-carousel-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    @media #{$large-mobile} {
        font-size: 13px;
    }
    
    & .title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    & .tabs-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        
        & .tabs-section {
            @media #{$large-mobile} {
                font-size: 10px;
            }
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            & .each-tab {
                @media #{$large-mobile} {
                    font-size: 0.7em;
                }
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                & * {
                    pointer-events: none;
                }

                & .marker-holder {
                    height: 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    & .marker {
                        position: absolute;
                        height: $thicker-divider;
                        width: 0%;
                        background-color: $primary;
                        transform: translateY(calc(1em + $thicker-divider/2));
                        transition: width $transition-specific;
                        @media #{$large-mobile} {
                            transform: translateY(calc(2em + $thicker-divider/2));
                        }

                        &.active {
                            width: 100%;
                        }
                    }
                }
            }
        }

        & .tabs-divider {
            width: 100%;
            height: $thicker-divider;
            background-color: rgba($color: $primary, $alpha: 0.2);
        }
    }

    & .cards-carousel-container {
        margin: 3em 0;
    }

}