.footer {
    height: 100vh;
    font-size: 2em;
    color: $default-black;
    background-color: $white;
    & .container {
        height: 100%;
    }
    & .page-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: calc($page-wrapper-padding / 2);
        & .divider {
            font-size: 2em;
            height: max-content;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            & .divider-line {
                position: absolute;
                transform: translateX(57.5%);
                font-size: 0.01em;
                height: 5em;
                width: 100%;
                background-color: $default-black;
                border-radius: 2.5em;
            }
        }
        & .sitemap-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            & .ims-logo-part {
                padding-top: 0.5em;
                & svg {
                    height: 2em;
                }
            }
            & .sitemap-part {
                padding: 0;
                font-size: 0.5em;
                & .sitemap {
                    padding: 0;
                    margin: 0;
                }
                & .pagegroup {
                    padding: 1em 0.1em !important;
                }
            }
        }
        & .subscribe-section {
            padding: 0;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            font-size: 0.5em;
            & .col-6 {
                padding: 0;
            }
        }
        & .privacy-copyright-section {
            padding: 0;
            font-size: 0.5em;
            & .privacy-copyright-section-left {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                gap: 1.5em;
                & .social-links {
                    gap: 2em;
                }
                & .copyright-component {
                    font-size: 0.7em;
                }
            }
            & .privacy-copyright-section-right {
                padding: 0;
                font-weight: 300;
                font-size: 0.7em;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                gap: 1.5em;
                & .legals {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    & a {
                        text-decoration: underline;
                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
    @media #{$extraBig-device} {
        font-size: 3.5em;
    }
}