.image-top-center-aligned-card-component {
    & .image-part {
        width: 100%;
        height: 29.24em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .top-half-bg, 
        & .bottom-half-bg {
            width: 100%;
            height: 50%;
        }

        & .image-holder {
            height: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            & .centered-aligned-image {
                position: absolute;
                width: 48.74em;
                height: 29.24em;
                border-radius: $image-border-radius;
                flex-shrink: 0;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

    }
}