.imageoverimage-card-container {
    // @media #{$large-mobile, $tablet-device}{
    //     padding: 0;
    // }

    @media #{$large-mobile, $tablet-device}{
        padding: 0em
    }
    & .card-part {
        @media #{$large-mobile, $tablet-device}{
            padding: 1.92em 2.64em;
        }
        & .black-button {
            font-size: 0.9em;
            margin-top: 1em;
            font-weight: 300;
            letter-spacing: 0.02em;
        }
    }
}