.tab-column {
    & .tab-box {
        border-top: 3px solid $primary;
        min-height: 15em;
        min-width: 14em;
        cursor: pointer;

    }
}

.tab-box-heading {
    font-size: 4rem;
    width: fit-content;
    line-height: normal;
}

.menu-card-container-5-content {
    background-color: $default-background;
}

.menu-card-content-image {
    height: 15em;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.menu-card-content-list-items-container-5 {
    list-style-type: disc;
    list-style-position: inside;
}